{% extends 'base.html' %} {% load static %}{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h3>{{ user.username }}'s profile</h3>
  </div>
</div>
  <h3>Statistics:</h3>

  <a class="btn btn-dark" href="{% url 'show_bets' %}?bets=past">View your bet history</a>
  <h3>Achieved prizes:</h3>
  <br />
  <div class="row">
    {% for prize in prizes %}
    <div class="col-sm-3">
      <div>
        <img src="{% static prize.image %}" class="img-responsive" style="max-width: 30%; height: auto; " alt="Image">
      </div>
      <p>{{ prize.name }}</p>
    </div>
    {% empty %}
    <li>No prizes owned.</li>
    {% endfor %}
  </div>
</div>
<br />
{% endblock %}
